<section id='condemned'>
  <h2>Condemned Drinks</h2>
  <div id='carousel-row'>
    <div id='condemned-text' class='description'>
      <p>This section is a list of my old drinks. There will be a synopsis at
        the top introducing these as old recipes in poor taste, which may suffer
        ressurection. The list can scroll vertically or have horizontal
        thumbnails in a click bar and use a next and back button. Each drink
        has a picture, title, and writeup taken from old pdf menu (modified for
        legality concerns)</p>
    </div>
    <div id='carousel'>
      <%= image_tag 'arrow-left.png', class: 'arrow', id: 'arrow-left', alt: 'Left Arrow' %>
      <%= image_tag 'drinks/resized-300x476/cthulu_juice_300.jpg', id: 'carousel-image', alt: 'Cthulu Juice' %>
      <%= image_tag 'arrow-right.png', class: 'arrow', id: 'arrow-right', alt: 'Right Arrow' %>
    </div>
  </div>
  <div id='carousel-dropdown'>
    <select>
      <option value='drink-image-0'>Cthulu Juice</option>
      <option value='drink-image-1'>Cthulu Juice</option>
      <option value='drink-image-2'>Cthulu Juice</option>
      <option value='drink-image-3'>Cthulu Juice</option>
      <option value='drink-image-4'>Cthulu Juice</option>
    </select>
  </div>
  <div id='carousel-list'>
    <figure>
      <%= image_tag 'drinks/resized-150x238/cthulu_juice_150.jpg', class: 'drink', id: 'drink-image-0', alt: 'Cthulu Juice' %>
      <figcaption>Cthulu Juice</figcaption>
    </figure>

    <figure>
      <%= image_tag 'drinks/resized-150x238/slavic_albino_150.jpg', class: 'drink',  id: 'drink-image-1', alt: 'Slavic Albino\'s White Russian' %>
      <figcaption>Slavic Albino's White Russian</figcaption>
    </figure>

    <figure>
      <%= image_tag 'drinks/resized-150x238/beetlejuice_bathtub_gin_150.jpg', class: 'drink', id: 'drink-image-2', alt: 'Beetlejuice Bathtub Gin' %>
      <figcaption>Beetlejuice Bathtub Gin</figcaption>
    </figure>

    <figure>
      <%= image_tag 'drinks/resized-150x238/hubert_cumberdale_150.jpg', class: 'drink', id: 'drink-image-3', alt: 'Hubert Cumberdale\'s Melon Soda' %>
      <figcaption>Hubert Cumberdale's Melon Soda</figcaption>
    </figure>

    <figure>
      <%= image_tag 'drinks/resized-150x238/evil_santa_150.jpg', class: 'drink', id: 'drink-image-4', alt: 'Evil Santa\'s ChocoMint Liquer' %>
      <figcaption>Evil Santa's ChocoMint Liquer</figcaption>
    </figure>

    <figure>
      <%= image_tag 'drinks/resized-150x238/unicorn_tears_150.jpg', class: 'drink', id: 'drink-image-5', alt: 'Unicorn Tears' %>
      <figcaption>Unicorn Tears</figcaption>
    </figure>

    <figure>
      <%= image_tag 'drinks/resized-150x238/creme_de_caca_150.jpg', class: 'drink', id: 'drink-image-6', alt: 'Creme de Caca' %>
      <figcaption>Creme de Caca</figcaption>
    </figure>

    <figure>
      <%= image_tag 'drinks/resized-150x238/jesus_comes_150.jpg', class: 'drink', id: 'drink-image-7', alt: 'Jesus Comes' %>
      <figcaption>Jesus Comes</figcaption>
    </figure>

    <figure>
      <%= image_tag 'drinks/resized-150x238/evil_red_150.jpg', class: 'drink', id: 'drink-image-8', alt: 'Evil Red' %>
      <figcaption>Evil Red</figcaption>
    </figure>

    <figure>
      <%= image_tag 'drinks/resized-150x238/tears_of_the_dragon_150.jpg', class: 'drink', id: 'drink-image-9', alt: 'Tears of the Dragon' %> 
      <figcaption>Tears of the Dragon</figcaption>
    </figure>

    <figure>
      <%= image_tag 'drinks/resized-150x238/ubermensch_150.jpg', class: 'drink', id: 'drink-image-10', alt: 'The Ubermensch\'s Apple of Discord' %> 
      <figcaption>The Ubermensch's Apple of Discord</figcaption>
    </figure>
  </div>
</section>
